{% extends 'layout.html' %}

{% block css %}
    <style>
        .table-link {
            text-decoration: none; /* 去除下划线 */
            color: #1890ff; /* 继承父元素的颜色 inherit*/
            display: block; /* 使链接占据整个单元格 */
            /* 可以添加更多的样式来匹配表格单元格的外观 */
        }

        .table-link:hover {
            text-decoration: none; /* 鼠标悬停时不显示下划线 */
            color: #286090;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">

        <div style="margin-bottom: 10px">

            <button id="btnNoteAdd" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 添加备注
            </button>


            <div style="float: right;width: 300px;">


                <form method="get">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="关键字"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 备份列表
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        <label for="select-all-checkbox">
                            <input type="checkbox" id="select-all-checkbox">
                        </label>
                    </th>
                    <th>设备名称</th>
                    <th>命令</th>
                    <th>创建时间</th>
                    <th>配置是否改变</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for conf_backup in queryset %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" class="device-checkbox"
                                       value="{{ conf_backup.id }}">
                            </label>
                        </td>
                        <td>{{ conf_backup.device }}</td>
                        <td>
                            <a class="table-link"
                               href="/peizhiguanli/result/?nid={{ conf_backup.command }}&nid3={{ conf_backup.time }}&nid4={{ conf_backup.device }}"
                               target="_blank">
                                {{ conf_backup.command }}
                            </a>
                        </td>
                        <td>{{ conf_backup.time }}</td>
                        <td>{{ conf_backup.config_changed }}</td>
                        <td>{{ conf_backup.notes }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs"
                               href="/peizhiguanli/result/?nid={{ conf_backup.command }}&nid3={{ conf_backup.time }}&nid4={{ conf_backup.device }}"
                               target="_blank">查看详情</a>
                            <a class="btn btn-primary btn-xs"
                               href="{% url 'log_backup_download' conf_backup.id %}">下载</a>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- 添加备注 -->
        <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="addNoteModalLabel">添加备注</h5>
                    </div>
                    <div class="modal-body">
                        <select class="form-control" id="noteType">
                            <option value="方案变更">方案变更</option>
                            <option value="配置丢失">配置丢失</option>
                            <option value="设备升级">设备升级</option>
                            <option value="操作失误">操作失误</option>
                            <option value="其他">其他</option>
                        </select>
                        <textarea id="noteInput" class="form-control" rows="5" style="display: none; margin-top: 10px;"
                                  placeholder="输入备注..."></textarea>
                        <input type="hidden" id="selectedIds" name="ids" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="saveNoteBtn">保存备注</button>
                    </div>
                </div>
            </div>
        </div>


        <ul class="pagination" style="float: right">
            {{ page_string }}
        </ul>

    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        var SELECT_IDS = [];

        $(function () {
            // 页面框架加载完成之后代码自动执行
            bindCheckBokEvent();
            bindNotesAddEvent();
            bindBtnNoteAddEvent();
            bindNoteTypeChangeEvent();

        })

        function bindCheckBokEvent() {
            // 绑定全选框的 change 事件
            $('#select-all-checkbox').change(function () {
                var checked = $(this).prop('checked');
                $('.device-checkbox').prop('checked', checked);
                updateSelectedIds(); // 更新 SELECT_IDS
            });
            // 绑定单个复选框的 change 事件
            $('.device-checkbox').change(function () {
                updateSelectedIds(); // 每当单个复选框状态改变时，也更新 SELECT_IDS
            });
        }

        function updateSelectedIds() {
            // 清空 SELECT_IDS 数组
            SELECT_IDS = [];
            // 遍历所有选中的复选框，并将它们的 value（即 conf_backup.id）添加到 SELECT_IDS 数组中
            $('.device-checkbox:checked').each(function () {
                SELECT_IDS.push(this.value);
            });
            // 可以在这里添加日志输出，但通常最好是在需要时访问 SELECT_IDS
            //console.log(SELECT_IDS);
        }

        function bindBtnNoteAddEvent() {
            $('#btnNoteAdd').click(function () {
                // 在这里检查SELECT_IDS是否为空，并给出提示
                if (SELECT_IDS.length === 0) {
                    alert('请选择需要备注的数据！');
                    return false; // 阻止模态框的打开
                }
                // 点击按钮，显示对话框
                $('#addNoteModal').modal('show')
            })
        }

        function bindNoteTypeChangeEvent() {
            $('#noteType').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === '其他') {
                    $('#noteInput').show();
                } else {
                    $('#noteInput').hide();
                    // 可选：如果需要，可以在这里清空textarea的内容
                    $('#noteInput').val('');
                }
            });
        }

        function bindNotesAddEvent() {
            $('#saveNoteBtn').click(function () {
                var notes = $('#noteInput').val();
                var noteType = $('#noteType').val(); // 获取备注类型
                var ids = SELECT_IDS.join(','); // 将数组转换为逗号分隔的字符串
                // 在这里检查备注是否为空，如果选择了'其他'但没有填写备注内容，则给出提示
                if (noteType === '其他' && notes.trim() === '') {
                    alert('请填写备注内容！');
                    return  false; // 阻止进一步执行
                }
                if (noteType !== '其他') {
                    notes = noteType; // 如果不是“其他”，则直接将类型作为备注内容
                }

                $('#selectedIds').val(ids); // 更新隐藏字段的值

                // 发送POST请求
                $.ajax({
                    url: '/logBackup/note/',
                    type: 'POST',
                    data: {
                        ids: ids,
                        notes: notes
                    },
                    success: function (response) {
                        // 处理成功响应
                        alert('备注保存成功！');
                        // 重置下拉框
                        $('#noteType option:first').prop('selected', true);
                        $('#addNoteModal').modal('hide'); // 关闭模态框

                        // 可以在这里刷新页面或更新前端显示
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        // 处理错误响应
                        alert('保存备注时发生错误：' + error);
                    }
                });
            });
        }

    </script>

{% endblock %}